<ion-view view-title="Salles Libres">
	<ion-content>
		<ion-refresher pulling-text="Tirez pour actualiser..." on-refresh="doRefresh()">
		</ion-refresher>
		<div class="spinnercenter" ng-if="firstLoad">
			<ion-spinner></ion-spinner>
		</div>
		<div class="list card" ng-repeat="zone in zones">

			<div class="item">
				<h1>{{zone.name}}</h1>
			</div>

			<div class="item item-body">
				<h3>Salles libres :</h3>
				<p>
					<span ng-repeat="room in zone.rooms">
						{{room}} <span ng-if="!$last">, </span>
					</span>
				</p>
			</div>


		</div>
	</ion-content>
</ion-view>